<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <form action="/process" method="post">
        <label for="modelNumber">Model Number:</label>
        <input type="text" id="modelNumber" name="modelNumber" required>
        <br>
        <br>
        <br>
        <label for="priceLimit">Enter a price to set limit:</label>
        <input type="number" id="priceLimit" name="priceLimit" required>
        <br>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
